.scrollTo {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  transition: .3s ease-in-out;
  background-color: rgb(246, 246, 246);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  &:hover {
    background-color: rgb(166, 166, 166);
  }

  img {
    width: 60%;
    height: 60%;
  }
}

.scrollTo.active {
}