@import "../variables";

.slider__image__container {
  // margin: 0 50px;
  background-color: #e2e2e2;
  border-radius: 10px;
  border: none;
  height: 100%;

  & [data-index="-1"] {
    border-right: 1px solid gray;
  }

  @media screen and (max-width: 1000px) {
    margin: 0;
    border-radius: 0;
  }

  .padding {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: none;
    height: 100%;
    outline: none;
  }

  img {
    width: 70%;
    height: 100%;
    margin: auto;
    background-color: gray;
    text-decoration: none;
    border: none;
    border-radius: 10px;
  }
}
