@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto+Slab:wght@100&family=Roboto:wght@100&display=swap');

$mainFontSize: 2.03vh;
$adaptiveFontSize-1: 2vw;
$adaptiveFontSize-2: 3vw;
$logoFontSize: 3vw;
$logoAdaptiveFontSize-1: 7vw;
$bigFontSize: 2.85vh;
$headerFontSize: 1.5vw;
$headerAdaptiveFontSize-1: .8vw;
$bodyFontSize: 1rem;
$bodyAdaptiveFontSize-1: .8vw;
$logoFont: 'Caveat', cursive;
$linkColor: rgb(225, 225, 225);
