@import "./_variables.scss";
@import "./_fonts.scss";

.title__section {
  width: $containerWidth;
  height: 800px;
  background-color: $sectionColor;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 20px 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0 100px;

  @media screen and (max-width: 1000px) {
    // display: flex;
    padding: 0px;
    height: 65vw;
    border-radius: 10px;
    display: none;
  }

  .left__container {
    width: 47.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3vw;
    align-items: flex-start;

    h5 {
      text-align: center;
    }

    // @media screen and (max-width: 800px) {
    //   width: 47.5%;
    //   height: 95%;
    //   padding: 30px 0;
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    // }

    .left__container__text {
      width: 50%;
      font-size: $mainFontSize;

      @media screen and (max-width: 1000px) {
        width: 85%;
        text-align: center;
        // padding: 30px 0;
        font-size: $adaptiveFontSize-1;
      }
    }

    .record__btn {
      width: 22vw;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #c5c4c4;
      border-radius: 5px;
      text-decoration: none;
      color: black;
      transition: 0.3s ease-in-out;
      font-size: 1vw;

      &:hover {
        cursor: pointer;
        transform: scale(1.1) translateX(10px);
        background-color: rgb(202, 202, 202);
      }

      @media screen and (max-width: 1000px) {
        width: 80%;
        height: 40px;
        font-size: 2.5vw;
      }
    }
  }

  .right__section {
    width: 47.5%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0;

    @media screen and (max-width: 1000px) {
      width: 47.5%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 0;
    }
    @media screen and (max-width: 650px) {
      height: 300px;
      padding: 0;
    }

    @media screen and (max-width: 400px) {
      height: 175px;
    }

    img {
      height: 85%;
      border-radius: 10px;
      box-shadow: 10px 10px 2px 0px rgb(156, 156, 156);

      @media screen and (max-width: 1000px) {
        width: 90%;
        height: auto;
      }
      @media screen and (max-width: 650px) {
      }
    }
  }
}

// ANOTHER SECTION

.about__section {
  width: $containerWidth;
  height: 550px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  &:hover {
    .background__ball {
      transform: scale(3);
    }

    .text {
      transform: scale(1.05) translateX(-40px);
    }

    img {
      transform: scale(1.05) translateX(40px);
    }
  }

  @media screen and (max-width: 1000px) {
    width: 100vw;
    display: flex;
    min-height: 600px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    min-height: 550px;
  }

  .background__ball {
    width: 100vw;
    height: 100vw;
    z-index: -10;
    position: absolute;
    top: -5vh;
    right: 40vw;
    background-color: rgba(157, 175, 184, 1);
    border-radius: 50%;
    transition: 0.3s ease-in-out;

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  .left__container {
    width: 47.5%;

    img {
      height: 100%;
      margin-left: 3vw;
      transition: .3s ease-in-out;
      @media screen and (max-width: 1000px) {
        display: none;
        // margin-left: 0;
        // width: 50%;
        // height: 100%;
      }
    }
  }

  .right__container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 20px 0;
    padding-top: 0;

    @media screen and (max-width: 1000px) {
      width: 70%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .text {
      height: 40%;
      width: 65%;
      margin-right: 5%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 1vw;
      line-height: 2vw;
      padding: 5px 0;
      transition: all 0.3s ease-in-out;

      @media screen and (max-width: 1000px) {
        width: 100%;
        height: 100%;
        font-size: 2.5vw;
        padding: 0;
        margin: 0;
        line-height: 40px;
      }
      @media screen and (max-width: 450px) {
        width: 100%;
        height: 100%;
        font-size: 3.5vw;
        padding: 0;
        margin: 0;
        line-height: 30px;
      }
    }
  }
}

// QUESTION SECTION

.questions__section {
  padding: 80px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  background-color: $sectionColor;
  min-height: 350px;
  border-radius: 10px;

  @media screen and (max-width: 1000px) {
    border-radius: 0;
  }
  @media screen and (max-width: 650px) {
    padding: 40px;
  }

  .section__title {
    font-size: $logoFontSize;
    margin-bottom: 50px;
  }

  .questions__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid black;
    margin-top: 50px;
  }
}

.rewards__section {
  width: $containerWidth;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (max-width: 1000px) {
    height: 50vw;
  }
  @media screen and (max-width: 650px) {
    height: 60vw;
  }

  h5 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $bigFontSize;
    margin: 20px 0;
  }

  .rewards__container {
    width: 100%;
  }
}

// DEPENDENCY STYLES
.titleSectionAdaptive {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 0;
  margin: 0;
  display: none;
}

@media screen and (max-width: 1000px) {
  .titleSectionAdaptive {
    width: calc(100% - 20px);
    height: auto;
    margin: 10px 10px;
    display: flex;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    // &:hover {
    //   .recordBtn {
    //     transform: translateX(0);
    //   }
    // }

    .adaptiveAvatar {
      width: 100%;
    }

    .textContainer {
      width: 45vw;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      position: absolute;
      right: 0px;
      top: 30px;
      font-size: 4vw;
      line-height: 8vw;
      text-align: left;
      border-radius: 10px 0 0 10px;
      padding: 20px;
      padding-left: 20px;

      @media screen and (max-width: 400px) {
        font-size: 3.5vw;
      }
    }
  }
}

.recordBtn {
  width: 50vw;
  height: 20vw;
  background-color: rgba(115, 115, 115, 0.8);
  transform: translateX(calc(-50vw));
  position: absolute;
  bottom: 20px;
  left: 0;
  transition: 0.3s ease-in;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding-left: 10vw;
  font-size: 5vw;
  border-radius: 0 10px 10px 0;
  cursor: pointer;

  &:hover {
    width: 55vw;
    background-color: white;
    color: black;
  }
}
